body {
    background-color: #7abdd0d5;
}

p {
    width: 550px;
	font-size: 16px;
}

h1 {
	background-color: #00c3ff;
	min-height: 75px;
	margin-top: -10px;
	border: 5px solid #1abced;
	border-radius: 20px;
	font-size: 32px;
	font-style: offs
}


button {
	width: 150px;
	height: 100px;
	background-color: #ffffff;
}