p, h1 {
    font-family: fantasy;
}

#sidebar {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

#text {
    display: block;
    margin-left: auto;
    margin-right: 0;
}