#header {
    display: block;
    width: 200px;
    background-color: #2073f0;
    padding: 10px 0px;
}

#header button {
    text-decoration: none;
    background-color: #2073f0;
    padding: 10px 0px;
}

#text {
    display: block;
    margin-left: auto;
    margin-right: 0;
}