p, h1 {
    font-family: sans-serif;
}

#sidebar {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    transition: background-color 0.3s;
}

#text {
    margin-left: 25%;
    margin-top: 0%;
}