#sidebar {
    width: 200px;
    float: left;
    padding: 15px;
    background-color: #f0f0f0
}

#sidebar a, p {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

#text {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

#rogueliteGame canvas{
    cursor: crosshair;
    border: #000000;
    border: 3px;
    background: #f0f0f0;
    width: 600px;
    height: 400px;
    margin-left: 5%;
}a