body {
    background-color: #7abdd0d5;
}

p {
	font-size: 16px;
}

h1 {
	background-color: #ff9100;
	min-height: 75px;
	margin-top: -10px;
	border: 5px solid #f29c2c;
	border-radius: 20px;
	font-size: 32px;
}


button {
	width: 150px;
	height: 100px;
	background-color: #ffffff;
}