body {
    background-color: #4478B3;
}

.textBox{
    width: 960px;
	border-color: #000000;
    border-style: solid;
    margin-top: 10px;
}

.textBox #Side {
    margin-right: 980px;
    margin-top: 10px;
}