#sidebar {
    width: 150px;
    float: left;
    padding: 15px;
    background-color: #f0f0f0
}

#sidebar h1 {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

#sidebar a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

#text {
    display: block;
    margin-left: auto;
    margin-right: 0;
}