body {
	background-color: #ffffff;
}

#info {
    background-color: #7abdd0d5;
	margin-left: -0.4%;
	width: 100.8%;
}

#games {
	width: 160px;
	height: 110px;
	border-radius: 25px;
	margin-top: 20px;
	margin-left: 65%;
	background-color: #ff9100;
	border: 3px solid #000000;
}

h1, p {
	margin-top: -0.9%;
	font-family: monospace;
}

button {
	width: 160px;
	height: 110px;
	margin-top: 20px;
	background-color: #34ebe8;
	border: 3px solid #000000;
}