#sidebar {
    width: 200px;
    float: left;
    padding: 15px;
    background-color: #f0f0f0
}

#sidebar p {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

#sidebar a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 8px;
}

#text {
    display: block;
    margin-left: auto;
    margin-right: 0;
}