body {
    background-color: #4478B3;
}

.textBox{
    width: 900px;
	border-color: #000000;
    border-style: solid;
    margin-top: 10px;
}

#items {
    margin-top: 0%;
    margin-right: 980px;
}