body {
    background-color: #7abdd0d5;
}

p {
    width: 550px;
	font-size: 16px;
}

h1 {
    width: 550px;
	font-size: 32px;
}


button {
	width: 150px;
	height: 100px;
	background-color: #ffffff;
}